@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#000000;
    --color-secundario:#f6f6f6;
    --color-terciario:#22d4fd;
    --fuente-monserat:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif;
}


*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_link{
    font-family: var(--fuente-monserat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.titulo{
    color: var(--color-terciario);
}

.presentacion{
    padding: 6.5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-family: var(--fuente-krona);
    font-size: 36px;
}

.presentacion_contenido_texto{
    font-family: var(--fuente-monserat);
    font-size: 1.5rem;
}


.presentacion_enlace{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.presentacion_enlace_link{
    width: 50%;
    font-family: var(--fuente-monserat);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 0px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--color-terciario);
    color:var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion_enlace_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_enlace_link:hover{
    background-color: #272727;
}

.imagen{
    width: 50%;
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px ){
    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto;
    }

}